chat-backend/src/chat/Models
chat backend Optimized/intel-extension-for-transformers
chat-backend/src/LangServe
__pycache__
chat-local-llama/langchain
TEST_DELETE
OLD_chat-backend
kubectl
/Users/emlanza/Library/CloudStorage/OneDrive-IntelCorporation/Technical/S2E/Events/Kubecon EU 2024/Local lang/LangChain-in-Kubernetes/3__External_Models/OpenAI/app/server.py