chat-backend/src/chat/Models
chat backend Optimized/intel-extension-for-transformers
chat-backend/src/LangServe
__pycache__
chat-local-llama/langchain
TEST_DELETE
OLD_chat-backend
kubectl
4__RAG
6__Converter_to_EMBN
3__External_Models/OpenAI/app/server.py
5__Conversational
.venv
3__Local_Models/LLAMA-OPT
3__Local_Models/LLAMA-cpp
3__Local_Models/langchain