transformers==4.29.0
#sentence_transformers==2.2.2
#torch
#xformers
langchain_community
sentencepiece
langserve
langchain
pypdf
sse_starlette
faiss-cpu
chainlit==0.7.700
fastapi
pydantic<2.0
uvicorn
flask-cors
openai



